# Requirements to dev the source code
# - runs on HA 2026.8.3 and 2026.9.0)

# requirements (dependencies) are in manifest.json
# - pip list | grep -E 'ramses|serial'

  aiousbwatcher         >= 1.1.2                 # as per: manifest.json latest: 1.1.2
  aioesphomeapi         >= 46.2.1               # required by config_flow > homeassistant.components.usb
  pyserial-asyncio-fast >= 0.16                  # as per: manifest.json latest: 0.16
  ramses-rf             == 0.60.4                # as per: manifest.json latest:
  # pycares               == 5.0.1               # ha_cc 2026.2: aiodns 4.0.0: pycares==5.0.1=latest
                                                 # (ha_cc 2025.12: aiodns 3.5.0 was not compatible with pycares 5.x)
  serialx               >= 1.9.0                 # required by config_flow > homeassistant.components.usb, see issue #623

# libraries required for development (lint/type/test)...
# - pip list | grep -E 'prek|ruff|mypy|types-|probatio'

# used for development (linting)
    prek == 0.5.0                               # HA core uses ?
    ruff >= 0.16.5                               # See also: pre-commit-config.yaml

# used for development (typing)
    mypy >= 2.3.1
    types-PyYAML >= 6.0.12.20260815
    probatio >= 0.11.4

# used for testing (incl. HA, pytest*, syrupy, voluptuous, etc.)
# - pytest
  # coverage >= ... included in next item
  pytest_homeassistant_custom_component >= 0.13.359
